.portfolio{
    height: auto;
    /* border: 1px solid blue; */
}
.cardscontainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.cardscontain{
    width: 72rem;
    height: auto;
    /* border: 1px solid yellow; */
}
.cards {
    box-shadow: 0 0 8px 0 #156615;
    transition: 0.3s;
    border-radius: .5rem;
    background: #010e01;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 4rem;
    width: 18rem;
    height: auto;
    overflow: hidden;
    border: 1.5px solid #0bf40a; 
    /* box-shadow: 0 0 8px 0 #247624; */
  }
    
.cards:hover {
    box-shadow: 0 18px 30px 0 rgba(12, 249, 20, 0.4);
    transform:scale(1.1);
    border: 1.5px solid #0bf40a;
}
  
.cards img {
    border-radius: .5rem .5rem 0 0;
    height: 18rem;
    width: 18rem;
    align-items: center;
}

.cardcontent{
  text-align: left;
  padding: 1rem 2rem;
}
.cardcontent h4{
  font-variant: small-caps;
  padding-bottom: 0.5rem;
}
.cardcontentcontain{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardcontentcontain p{
  font-weight: 600;
  font-size: small;
}
  
.font{
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  /* border-radius: 50%; */
  /* border: 1.5px solid white; */
}
.font:hover{
  border-radius: 50%;
  border: 1.5px solid #0bf40a;
}


@media (max-width:1024px){

  .cardscontain{
    padding: 0rem 1rem;
    width: 100%;
  }

  /* .cards{
    width: 5rem;
  }

  .cards img{
    width: 15rem;
    height: 15rem;
  } */
}

@media (max-width:768px){

  .cardscontain{
    padding: 0rem 12rem;
    width: 100%;
  }
  .cards{
    margin: 2rem 3rem;
  }

}


@media (max-width:480px){

  .cardscontain{
    padding: 0rem;
    width: 100%;
   
  }

  .cardcontentcontain p{
    font-size: 12px;
  }

}


@media (max-width:320px){

  .cardscontain{
    padding: 0rem;
    width: 100%;
  }
  .cards{
    width:15rem;
  }
  .cards img{
    width: 15rem;
    height: 15rem;
  }

}