#skills{
    height: auto;
    min-height: 80vh;
    /* border: 1px solid green; */
    /* padding: 5rem 0rem; */
}

/* #skills-container::after, #skills-container::before{
    content: '';
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #11f32c;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

#skills-container::after{
    top: -3rem;
    left: -5rem;
}

#skills-container::before{
    background: #06f4a0;
    bottom: 0rem;
    right: 0rem;
} */

/* 
h2, .skills-content, .skills-info{
    margin: 0rem 0rem;
    padding: 0rem 0rem;
} */

.skills-top{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.skills-container{
    display: inline-flex;
    align-items: flex-start;
    gap: 10em;
    width: 70%;
}

.skills{
    
    flex: 1;
    display: grid;
    grid-gap:3rem;
    grid-template-columns: repeat(2,1fr);
    padding: 0rem;
    /* border: 1px solid yellow; */
}

.skills-info{
    flex: 1.5;
    padding: 0rem;
    /* border: 1px solid blue; */
    
}

@media (max-width: 1025px){

    .skills-container{
        width: 88vw;
    }

    .skills, .skills-container{
        grid-gap:2rem;
    }

}

@media (max-width: 768px){
    
    .skills-container{
        width: 60vw;
        flex-direction:column-reverse;
        gap: 3rem;
    }

    .skills, .skills-info{
        width: 100%;
    }

    .skills{
        padding-left: 2rem;
    }
/* 
    #skills::after,#skills::before{
        width: 18rem;
        height: 18rem;
    } */
}

@media (max-width:480px){

    .skills-container{
        width: 75vw;
        gap: 2rem;
    }

    .skills{
        padding-left: 0.5rem;
    }
}


@media (max-width:320px){

    .skills-container{
        width: 80vw;
    }

    .skills{
        padding-left: 1rem;
    }
}