#about {
  min-height: 100vh;
  /* border: 1px solid yellow; */
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelines {
  position: relative;
  width: 80%;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  /* border: 1px solid red; */
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 2s;
}
.container:nth-child(4) {
  animation-delay: 3s;
}

.text-box {
  padding: 30px 30px;
  margin: 1rem;
  width: 40%;
  border-radius: 6px;
  position: relative;
  font-size: inherit;
  text-align: justify;
  background: #010e01;
  color: white;
  border: 1.5px solid #06fa40;
  /* width: 25rem; */
}

.text-box h3 {
  color: #06fa40;
}

.left-container {
  justify-content: flex-start;
  left: 5%;
}

.right-container {
  justify-content: flex-end;
  right: 4.8%;
}

.line::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #06fa40;
  left: 50%;
  z-index: -1;
  animation: moveline 4s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.left-container-arrow {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #06fa40;
  right: -15px;
}

.right-container-arrow {
  height: 0px;
  width: 0px;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #06fa40;
  left: -15px;
}


@media (max-width: 1024px) {

    .text-box{
      width: 53%;
    }

    .left-container{
      left: -7%;
    }

    .right-container{
      right: -7.2%;
    }
  
}


@media (max-width: 768px) {

  .text-box{
    width: 75%;
  }

  .line::after{
    left: 9%;
    width: 2px;
}

  .left-container{
    left: 10%;
  }

  .right-container{
    right: 10%;
  }

  .left-container-arrow{
    border-right: 15px solid #06fa40;
    border-left: 0px;
    left: -15px;
  }

  /* .left-container-arrow, .right-container-arrow {
    border-right: 15px solid white;
    border-left: 0px;
    left: -15px;
} */
 
.text-box h3 {
  font-size: 1.3rem;
}

.text-box p{
  font-size: 14px;
}

}



@media (max-width: 480px) {

  .text-box{
      width: 90%;
      text-align: justify;
      font-size: 14px;
  }
    .line::after{
        display: none;
    }

    .left-container{
      left: 0%;
    }
  
    .right-container{
      right: 0%;
    }

    .left-container-arrow,.right-container-arrow{
        display: none;
    }

    .text-box h3 {
      font-size: 1rem;
    }

    .text-box p{
      font-size: 12px;
      text-align: justify;
    }

}

@media (max-width: 320px) {

  .text-box{
      width: 100%;
      font-size: 12px;
  }

    .text-box p{
      font-size: 10px;
    }

}