#intro{
    display: flex;
    gap: 0rem;
    align-items: center;
    font-size: 1rem;
    /* overflow: hidden; */
    /* background: #622424; */
    /* padding: 2rem;
    margin: 2rem; */
    justify-content: space-around;
    position: relative;
    height: 85vh;
    /* border: 1px solid yellow; */
}

.intro-container{
    display: inline-flex;
    gap: 5rem;
    align-items: center;
}

/* 1 */
.introContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem; 
    padding: 2rem;
    /* position: absolute;
    width: 50%;
    left: 0em;
    margin: 0em;
    margin-top: 0em;
    padding: 10em; */
    /* border: 1px solid red; */
}

.introText{
    font-size: 2rem;
}

.introAbout{
    font-size: 1rem;
    width: 35em;
    text-align:justify;
}
.introText b{
    color:#0bf40a;
    filter: drop-shadow(0 0 1em #0bf40a);
    font-size: 2.5rem;
    cursor:pointer;
    font-weight: 900;
    letter-spacing: .09em;
        /* user-select: all;
        -moz-user-select: all;
        -webkit-user-select: all; */
}

.introRole{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .1em;
}

.btn{
    display: flex;
    gap: 4rem;
    align-items: center;
    text-wrap: nowrap;
}

.btnFonts{
    height: 1em;
    width: 1em;
}

/* 2 */
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5em;
    padding: 2rem;
    /* position: relative; */
    /* width: 50%; */
    /* right: 10em;
    margin: 0rem;
    padding: 5em; */
    /* border: 1px solid blue; */
}

.image img{
    box-sizing: border-box;
    height: 30rem;
    width: 25rem;
    border-radius: 20%; 
    object-fit: cover;
    border: .15em solid #0bf40a;
    pointer-events: none;
}

.introQuote{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .1em;
    align-items: center;
    padding-bottom: 1em;
    background: linear-gradient(to right, #0bf40a,#22cc9d);
    -webkit-text-fill-color: transparent;
    background-clip: text;      
}



@media screen and (max-width:1024px) {

   .intro-container{
      gap: 2rem;
   }

   .introAbout{
      width: 28rem;
   }
}


@media screen and (max-width: 768px) {

    #intro{
       height: auto;
    }

    .intro-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0rem;
    }
    
    .introContent{
        gap:1.75rem ;
    }

    .image img {
        height: auto;
        width: 18rem;
        max-width: 20rem;
    }

    .introAbout{
        font-size: 14px;
    }
    
    .introText {
        font-size: 1.75rem;
    }

    .introText b {
        font-size: 2.25rem;
    }

    .introRole {
        font-size: 1.5em;
    }

    .introQuote {
        font-size: 1.5em;
    }
}


@media (max-width: 480px) {

    .introContent{
        gap: 1.5rem;
        padding: 1rem;
    }

    .image{
        padding: 1.5rem;
    }

    .image img {
        height: auto;
        width: 15rem;
        max-width: 20rem;
    }

    .introAbout{
        width: 20rem;
        font-size: 12px;
    }

    .introText {
        font-size: 1.5rem;
    }

    .introText b {
        font-size: 2rem;
    }

    .introRole {
        font-size: 1.2em;
    }

    .introQuote {
        font-size: 1.2em;
    }
}


@media (max-width:320px){

    .introContent {
       gap: .75rem;
    }

    .introAbout{
        width: 16rem;
        font-size: 10px;
    }
    
    .introText {
        font-size: 1rem;
    }

    .introText b {
        font-size: 1.5rem;
    }

    .introRole {
        font-size: 1em;
    }

    .introQuote {
        font-size: 1em;
    }

    .btn{
        gap: 1rem;
    }

}





